{% extends "blog/base.html" %}
{% block content %}
    <section class="section--center mdl-grid site-max-width">
        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--6-col-phone ada-card">
            <!-- About Container -->
            <div class="w3-container proxima" id="about">
            <div class="w3-content">
                <div class="pad14">The recording company makes your events such as 
                birthdays, badminton matches and tournaments more
                memorable by capturing those moments. You can watch
                these events on our platform and share it with your
                friends and family.</div>
                <p>Contact us for more information</p>
                <p>Email : therecordingcompany2020@gmail.com</p>
                <!-- <p>Phone Number : +91 - 8553986663</p> -->
            </div>
            </div>
        </div>
    </section>
    {% endblock content %}
