{% load static %}
{% load material_form %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K3GJ5W9');</script>
  <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Recording Company</title>
    {% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
    
          <meta name="description" content="Demo of Material design portfolio template by TemplateFlip.com."/>
          <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
              <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
                <link href="{% static "blog/main.css" %}" rel="stylesheet">
                </head>
                <body id="top">
                  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3GJ5W9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
                  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                    
                    <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
                      <div class="mdl-layout__header-row site-logo-row">
                        <span class="mdl-layout__title">
                          <div class="site-logo">
                              <img class="article-image" src="{% static "img/site-logo-final.png" %}" border="0" alt="">
                          
                              src="{% static "img/portfolio1.jpg" %}"
                            </div>
                        </span>
                      </div>


                      <!-- Navbar Right Side -->
            <div class="navbar-nav">
              

                      <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
                        <!-- <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"> -->
                          <nav class="mdl-navigation">
                          {% if user.is_authenticated %}
                          <a class="mdl-navigation__link" href="{% url 'blog-home' %}">Home</a>
                          <a class="mdl-navigation__link" href="{% url 'blog-about' %}">About</a>
                          <!-- <a class="mdl-navigation__link" href="{% url 'blog-contact' %}">Contact</a> -->
                          <a class="mdl-navigation__link" href="{% url 'profile' %}">Profile</a>
                          <a class="mdl-navigation__link" href="{% url 'logout' %}">Logout</a>
                          {% else %}
                            <!-- <a class="mdl-navigation__link" href="{% url 'login' %}">Login</a> -->
                            <!-- <a class="mdl-navigation__link" href="{% url 'register' %}">Register</a> -->
                          {% endif %}
                        </nav>
                      </div>
                    </header>
                    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
                      <!-- <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"> -->
                        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                        {% if user.is_authenticated %}
                        <a class="mdl-navigation__link" href="{% url 'blog-home' %}">Home</a>
                        <a class="mdl-navigation__link" href="{% url 'blog-about' %}">About</a>
                        <!-- <a class="mdl-navigation__link" href="{% url 'blog-contact' %}">Contact</a> -->
                        <a class="mdl-navigation__link" href="{% url 'profile' %}">Profile</a>
                        <a class="mdl-navigation__link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                          <!-- <a class="mdl-navigation__link" href="{% url 'login' %}">Login</a> -->
                          <!-- <a class="mdl-navigation__link" href="{% url 'register' %}">Register</a> -->
                        {% endif %}
                      </nav>
                    </div>
                    
                              <main role="main" class="container">
      <div class="row">
        <div class="col-md-12 msg-font">
          {% if messages %}
            {% for message in messages %}
              <p class="mdl-grid site-copy">
                {{ message }}
              </p>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        </div>
    </main>
                          <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
                        </div>
                      </body>
                    </html>