{% extends "blog/base.html" %}
{% block content %}

    <section class="section--center mdl-grid site-max-width">
        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--6-col-phone  mdl-shadow--2dp ada-card">
            <!-- About Container -->
            <div class="w3-container" id="about">
            <div class="w3-content">
            <p></p>
            <div class="pad14">
                Email : therecordingcompany2020@gmail.com
                <br>
                Phone Number : +91 - 8553986663
            </div>
            </div>
            </div>
        </div>
    </section>
    
{% endblock content %}
