{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load material_form %}

{% block content %}
    <div class="content-section">
        <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
        <form method="POST">
            {% csrf_token %}
            {% form %}
                {% part form.email prefix %}<i class="mdl-textfield__input"></i>{% endpart %}
            {% endform %}

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}
